<form action="/upload/audio"
      enctype="multipart/form-data" method="post">
    <h2>Interleaved Audiobooks</h2>
    <p>Given two audio files, we will divide them into chunks and intersperse the two audio files.</p>
    <p>Provide one audio track in a language you now well, and one in a language you want to learn.
    The result will have short phrases immediately followed by their translations</p>

    <div>
        <p>
            Select the audio segment in a language you know well:<br/>
            <input type="file" name="audio-base" size="40"/>
        </p>
        <p>
            Select the audio segment in the language you are learning:<br/>
            <input type="file" name="audio-tgt" size="40"/>
        </p>
        <div>
            <input type="submit" value="Upload"/>
        </div>
    </div>
</form>