<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Audio Interleaved - Download</title>
</head>
<body>
<p th:text="'Created your composite audio track, with audio from ' + ${audioFilenameBase}
+ ' interspersed with audio from ' + ${audioFilenameTgt}" />
<p>Download audio with <a th:href="@{/download/${reqID}}">this link</a></p>
<p>This link will remain active for one hour</p>
</body>
</html>